<% include ./parts/layout %>
<% include ./parts/navbar %>
<link href='./css/chat.css' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-rounded">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong><br><small class="text-muted">
                                        <span class="glyphicon glyphicon-time"></span>Wed Jun 22 2016 15:08:08 GMT+0800 (SGT)</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-rounded">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Bhaumik Patel</strong><br><small class="text-muted">
                                        <span class="glyphicon glyphicon-time"></span>Wed Jun 22 2016 15:08:08 GMT+0800 (SGT)</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <form class='form-group'>
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" type='submit' id="btn-chat">Send</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
<script>
    $('.panel-body').css('height', window.innerHeight*7/12);
    $(window).resize(function() {
        $('.panel-body').css('height', window.innerHeight*7/12);
    });
</script>
