<% include ./parts/layout %>
<% include ./parts/navbar %>
<body>
    <div class='container'>
        <div class='row'>
            <form method='post' class='form-group'>
                <div class='col-xs-6 col-md-5'>
                    <input class='form-control' name='keyword' value='<%= search.keyword %>' placeholder='Keyword...' required />
                </div>
                <div class='col-xs-6 col-md-5'>
                    <input class='form-control' name='location' value='<%= search.location %>' placeholder='Location...' />
                </div>
                <button class='col-xs-12 col-md-2 btn btn-primary'><i class='fa fa-search'></i></button>
            </form>            
        </div>
        <br>
        <div class='row'>
            <% for(var index in results){ %>
                    <div class='jumbotron'>
                        <div class='row'>
                            <div class='col-md-3 col-xs-6'>
                                <img class='img-responsive' src='<%= results[index].image_url %>'>
                            </div>    
                            <div class='col-md-3 col-xs-6'>
                                <p><%= results[index].name %></p>
                            </div>
                        </div>
                    </div>    
            <% } %>
            <button class='col-xs-offset-2 col-xs-8 btn btn-default' style='margin-bottom: 2%;'>Show More</button>
        </div>
    </div>
</body>